body.question {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.botao {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}